# See https://atom.io/docs/latest/hacking-atom-package-word-count#menus for more details
'context-menu':
  '.gitbook-navigation-pane': [
    {
      'label': 'New Chapter'
      'command': 'atom-gitbook:new-chapter'
    }
  ],
  '.gitbook-navigation-pane .gitbook-page-item': [
    {
      'label' : 'Delete Chapter',
      'command' : 'atom-gitbook:delete-chapter'
    }
  ],
  '.tree-view.full-menu' : [
    {
      'label' : 'Add As Chapter',
      'command' : 'atom-gitbook:add-file-as-chapter'
    }
  ]
'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'atom-gitbook'
      'submenu': [
        {
          'label': 'Toggle'
          'command': 'atom-gitbook:toggle'
        },
        {
          'label': 'Force Reload ToC'
          'command': 'atom-gitbook:force-reload-toc'
        }
      ]
    ]
  }
]
